/* Body Styling + Fonts + Background*/
body{
    background-image: url(./imgs/circut.jpg);
    background-attachment: fixed;
    color: whitesmoke;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

/* Keeps things contained in the middle */
.mainContainer{
    width: 75%;
    margin: 0 auto;
}

/* Middle box with semi transparent background holds all content */
.contentCon{
    background-color: rgba(0, 0, 0, 0.692);
    padding-top: 4em;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

/* Holds the Bio section of the page */
.bioCon{
    max-width: 50em;
    font-size: 1em;
    line-height: 2em;
    margin: 0 auto;
}

/* Holds the cards that are printed to the dom from JavaScript important to keep this above hideCon stuff */
.projectsCon{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

/* Styling for the cards that get printed from JavaScript Keep this above hideCon stuff */
.projectCard{
    border: 1px solid red;
    background-color: rgba(23, 93, 13, 0.5);
    padding: 0em 1em 0em 0em;
    margin: 2em;
    text-align: center;
    border-radius: 2em;
    width: 25%;
}

/* For the tech ul to hide the dots probably need to give it a class */
ul{
    padding: 0;
    list-style-type: none;
}

/* link styling maybe more specific? */
a{
    color: rgb(91, 146, 105);
    font-weight: bolder;
    font-style: italic;
}

/* Navbar styling */
.navbar{
    background-color: rgba(0, 0, 0, 0.658);
    position: fixed;
    width: 75%;
    margin-left: 12.5%; 
}

/* Line over footer */
hr{
    border: 2px solid rgb(91, 146, 105);
}

/* This hides parts of the page on load !!IMPORTANT TO KEEP THIS AS FAR DOWN AS I CAN!! */
.hideCon{
    display: none;
}
