body{
        /* border: 2px solid salmon; */
    background-image: url(./imgs/circut.jpg);
    background-attachment: fixed;
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    font-family: 'Orbitron', sans-serif;
}
.mainContainer{
    /* border: 2px dashed royalblue; */
    width: 75%;
    display: flex;
    flex-flow: column nowrap;
    /* margin: 3em 0 3em 0; */
    background-color: rgba(53, 170, 73, 0.39);
    border-radius: 2em;
}

.secondContainer{
    background-color: rgba(0, 0, 0, 0.692);
    display: flex;
    flex-flow: column nowrap;
    border-radius: 2em;
}

.fullpage{
    /* border: 2px solid white; */
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    /* background-color: rgba(0, 0, 0, 0.205); */
    width: 75%;
}

.projectDiv{
    /* border: 1px solid red; */
    background-color: rgba(23, 93, 13, 0.5);
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    justify-self: center;
    width: 20em;
    height: 30em;
    padding: 0 1em 0 1em;
    margin: 1em 0 1em 0;
    text-align: center;
    border-radius: 2em;
}

.projectDiv > *{
    align-self: center;
}

#bioPage {
    max-width: 50em;
    font-size: 1em;
    line-height: 2em;
}

ul{
    padding: 0;
    list-style-type: none;
}

a {
    color: rgb(91, 146, 105);
    font-weight: bolder;
    font-style: italic;
}